/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLE CSS ====================*/
:root {
  /*========== COLORS ==========*/
  /*COLOR MODE HSL(hue, saturation, lightness)*/
  /*
          Blue: hsl(207, 90%, 61%)
          Purple: hsl(250, 66%, 75%)
          Pink: hsl(356, 66%, 75%)
          Teal: hsl(174, 63%, 62%)
          Amber: hsl(45, 100%, 51%)
      */

  --hue: 43;
  --sat: 100%;
  --lig: 46%;

  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 60%); /* -5% */
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --text-color-warning: #b80000;
  --body-color: hsl(var(--hue), 40%, 8%);
  --body-color-alt: hsl(var(--hue), 40%, 12%);
  --container-color: hsl(var(--hue), 24%, 12%);
  --container-color-alt: hsl(var(--hue), 24%, 16%);
  --text-color-blue: #22d3ee;
  --text-color-green: #a3e635;

  /*========== Font and Typography ==========*/
  /*.5rem = 8px / 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s; /*For animation dark mode*/
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  font-weight: 600;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 0.5rem;
}

/*==================== PROFILE ==================== */
.profile {
  position: relative;
  padding-top: 3rem;
}

.profile-container {
  row-gap: 1.5rem;
}

.profile-data {
  display: grid;
  text-align: center;
}

.profile-perfil {
  width: 100px;
  height: 100px;
}

.profile-perfil img {
  width: 130px;
}

.profile-border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile-name {
  font-size: var(--h2-font-size);
}

.profile-place {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
}

.profile-buttons,
.profile-buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-buttons {
  column-gap: 1rem;
}

.profile-buttons-small {
  column-gap: 0.25rem;
}

/*==================== BUTTONS ==================== */
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #fbfbfb;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.2);
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-small {
  padding: 0.75rem;
  box-shadow: none;
}

.button-gray {
  background-color: var(--container-color);
  color: var(--title-color);
}

.button-gray:hover {
  background-color: var(--container-color-alt);
}

/*==================== FILTERS TABS ==================== */
.filters-content {
  margin: 2rem 0 1.25rem;
  background-color: var(--container-color);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filters-button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.filters-button:hover {
  background-color: var(--body-color);
}

/* ==================== EVENT ==================== */
.event-card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--container-color-alt);
  background-image: url("/assets/pattern/p20.png");
  background-repeat: repeat;
  background-size: cover;
}

.event-card:hover {
  background: var(--body-color-alt);
  background-image: url("/assets/pattern/p10.png");
  background-repeat: repeat;
  background-size: cover;
}

.event-content {
  padding: 0.375rem;
  border-radius: 0.5rem;
  display: flex;
}

.event-content a {
  text-decoration: none;
}

.event-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
}

.event-title-text {
  color: var(--text-color-lighten);
}

.event-date {
  display: flex;
  justify-content: center;
  padding-bottom: 0.8rem;
}

.event-date-text {
  font-size: 0.7rem;
  color: var(--title-color);
  background-color: var(--text-color-warning);
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
}

.event-info {
  display: flex;
  justify-content: center;
  padding-bottom: 0.8rem;
}

.event-info-text-internal {
  font-size: 0.7rem;
  color: var(--body-color);
  background-color: var(--text-color-blue);
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
}

.event-info-text-general {
  font-size: 0.7rem;
  color: var(--body-color);
  background-color: var(--text-color-green);
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
}

/* ==================== PARTNER ==================== */
.partner-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.partner-card img {
  width: 100%;
}

.partner-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg, hsla(var(--hue), 24%, 40%, 0.3) 0%, hsla(var(--hue), 24%, 4%, 1) 95%);
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

/* .partner-subtitle,
.partner-title {
  color: #fff;
}

.partner-subtitle {
  font-size: var(--smaller-font-size);
}

.partner-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
} */

.partner-button {
  padding: 0.5rem;
}

.partner-card:hover .partner-modal {
  bottom: 0;
}

/* Hide and show gallery, story & components */
.filters [data-content] {
  display: none;
}

.filters-active[data-content] {
  display: grid;
}

/* Active button filter */
.filter-tab-active {
  background-color: var(--body-color);
}

/*==================== FOOTER ====================*/
.footer-copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*==================== ANIMATION ====================*/
@keyframes delayIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-in-1 {
  animation-name: delayIn;
  animation-duration: 1s;
}

.delay-in-2 {
  animation-name: delayIn;
  animation-duration: 1.4s;
}

.delay-in-3 {
  animation-name: delayIn;
  animation-duration: 1.8s;
}

.delay-in-4 {
  animation-name: delayIn;
  animation-duration: 2.2s;
}

.delay-in-5 {
  animation-name: delayIn;
  animation-duration: 2.6s;
}

.delay-in-6 {
  animation-name: delayIn;
  animation-duration: 3s;
}

/*==================== BREAKPOINTS ====================*/

/*For small devices*/
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .filters-content {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-buttons {
    flex-direction: column;
    row-gap: 1rem;
  }
}

/*For medium devices */
@media screen and (min-width: 576px) {
  .filters-content {
    width: 332px;
    margin: 3rem auto;
  }
}

/*For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .profile {
    padding-top: 4rem;
  }

  .profile-border {
    width: 135px;
    height: 135px;
  }

  .profile-perfil {
    width: 120px;
    height: 120px;
  }

  .profile-perfil img {
    width: 120px;
  }

  .profile-place {
    margin-bottom: 1.5rem;
  }

  .profile-buttons {
    column-gap: 2rem;
  }

  .footer-copy {
    margin: 4.5rem 0 2.5rem;
  }
}
